.homepage {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.content {
	display: flex;
	flex: 1;
	padding: 20px;
	gap: 20px;
}

.left {
	flex: 7;
}

.right {
	flex: 3;
}

.filter-button {
	margin: 10px 0;
	padding: 10px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.filter-button:hover {
	background-color: #0056b3;
}
